@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow-x: hidden;
}
.allLedgersPar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #0f172a;
  z-index: -999;
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to right,
      rgba(79, 79, 79, 0.18) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
  background-size: 14px 24px;
}
#allLedgersHeading {
  margin-top: 55px;
  text-align: center;
  font-size: 10vw;
}
.table-container {
  margin-top: 2rem;
  position: relative;
  /* overflow-x: auto; */
  width: 90vw;
}

.custom-table {
  width: 100%;

  margin-bottom: 5rem;
  text-align: left;
  font-size: 0.875rem;
  color: #cbd5e1; /* Equivalent to text-slate-400 */
  border-collapse: collapse;
  background-color: #1e293b; /* Equivalent to bg-slate-800 */
}

.custom-table thead {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #94a3b8; /* Equivalent to text-slate-500 */
  background-color: #334155; /* Equivalent to bg-slate-700 */
}

.custom-table th,
.custom-table td {
  padding: 0.75rem 0.8rem; /* Equivalent to px-6 py-3 */
  border: 1px solid #475569; /* Equivalent to border-slate-600 */
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #1e293b; /* Equivalent to bg-slate-800 */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #273449; /* Slightly darker slate */
}

.custom-table tbody tr:hover {
  background-color: #334155; /* Highlight row on hover */
}

.custom-table tbody th {
  font-weight: 500;
  color: #e2e8f0; /* Equivalent to text-slate-200 */
}

.custom-table tbody tr.dark-mode {
  background-color: #1e293b; /* Darker slate for dark mode */
  color: #e2e8f0; /* Equivalent to text-slate-200 */
}

.custom-table tbody tr.dark-mode:hover {
  background-color: #475569; /* Slightly lighter for hover effect in dark mode */
}
.home {
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 8px;
  background-color: #0f172a;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #283452ec;
    color: #fff;
  }
  &:active {
    transform: scale(0.95);
  }
}

#searchBar {
  display: block;
  margin: 20px auto;
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #94a3b8; /* light slate border */
  border-radius: 6px;
  background-color: #64748b; /* light slate background */
  color: #fff;
  &::placeholder {
    color: #fff;
  }
}

.edit-btn {
  background-color: #4caf50; /* green background */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px; /* added rounded borders */
}

a {
  text-decoration: none;
  color: #fff;
}

.homebtn {
  display: flex;
  flex-direction: column; /* stack buttons vertically */
  align-items: center; /* center buttons horizontally */
  justify-content: center;
  gap: 10px; /* increased gap between buttons */
}

/*media queries for 750 
*/

@media screen and (max-width: 750px) {
  .home {
    width: 70vw !important;
    /* height: 35px; */
  }
  .table-container {
    width: auto;
  }
  /* .allLedgersPar {
    padding: 0 24px;
  } */
}
