@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 450;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* padding: 2px; */
  text-align: center;
  background-color: rgb(5, 0, 43);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M26 250L276 0L375 0L125 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M246.60000000000002 250L496.6 0L771.1 0L521.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M514.2 250L764.2 0L960.7 0L710.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M724.8000000000001 250L974.8000000000001 0L1147.3000000000002 0L897.3000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M1432 250L1182 0L988.5 0L1238.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M1182.4 250L932.4000000000001 0L821.4000000000001 0L1071.4 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M943.8 250L693.8 0L410.29999999999995 0L660.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M712.1999999999999 250L462.19999999999993 0L199.69999999999993 0L449.69999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M1254.457749950145 250L1440 64.457749950145L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L185.542250049855 250L 0 64.457749950145z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  /* font-size: 1.2rem; */
}
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}
.categories h1 {
  /* font-size: 3rem; */
  text-align: center;
  margin-bottom: 10px;
}
.table-cell {
  border: 1px solid #fff;
  padding: 8px;
}

.table-container {
  width: 100%;
  margin: 20px auto;
  /* overflow-x: auto; */
  max-height: 400px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2f4f4f;
  color: #fff;
}

.header-row {
  background-color: rgb(87, 0, 9);
  color: #ffffff;
  position: sticky;
  top: 13%;
  z-index: 1;
}
.edit-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.5s;
}

.makeOrder {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.categories {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.design-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.design-btn:hover {
  background-color: #45a049;
}

.design-btn.activeCategory {
  background-color: #ff9800;
  color: white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .design-btn {
    padding: 8px 16px;
  }

  .table-cell {
    padding: 6px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .design-btn {
    padding: 6px 12px;
  }

  .table-cell {
    padding: 4px;
  }
}
.btn {
  padding: 5px 10px;
  margin: 2px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
#makeOrderError {
  color: red;
}
#totalBillParent {
  position: sticky;
  top: 0;

  width: 100%;
  background-color: rgb(87, 13, 136);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M -418.64346183988135%2c395 C -322.64%2c360.6 -130.64%2c244.2 61.35653816011864%2c223 C 253.36%2c201.8 349.36%2c302 541.3565381601186%2c289 C 733.36%2c276 829.36%2c131.8 1021.3565381601186%2c158 C 1213.36%2c184.2 1417.63%2c432 1501.3565381601186%2c420 C 1585.09%2c408 1452.27%2c162.4 1440%2c98' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -841.7085496647749%2c304 C -745.71%2c274.8 -553.71%2c160.4 -361.7085496647748%2c158 C -169.71%2c155.6 -73.71%2c270 118.29145033522519%2c292 C 310.29%2c314 406.29%2c236.4 598.2914503352251%2c268 C 790.29%2c299.6 909.95%2c482 1078.2914503352251%2c450 C 1246.63%2c418 1367.66%2c176.4 1440%2c108' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -438.34931051191677%2c138 C -342.35%2c205.8 -150.35%2c492.8 41.65068948808322%2c477 C 233.65%2c461.2 329.65%2c95 521.6506894880832%2c59 C 713.65%2c23 809.65%2c286.8 1001.6506894880832%2c297 C 1193.65%2c307.2 1393.98%2c85.4 1481.6506894880831%2c110 C 1569.32%2c134.6 1448.33%2c358 1440%2c420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -354.81807228333355%2c488 C -258.82%2c435.6 -66.82%2c244 125.18192771666645%2c226 C 317.18%2c208 413.18%2c409.8 605.1819277166665%2c398 C 797.18%2c386.2 893.18%2c168.8 1085.1819277166665%2c167 C 1277.18%2c165.2 1494.22%2c384.6 1565.1819277166665%2c389 C 1636.15%2c393.4 1465.04%2c229 1440%2c189' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: white;
  padding: 20px 0;
  /* border-radius: 5px; */
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  --color: #0055af;
  border-bottom: 3px solid var(--color);
  box-shadow: 0 4px 8px var(--color);
}

th:nth-child(4) {
  font-size: 1.5rem;
}
td:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.findItem {
  width: 100%;
}

.findItem input {
  width: 90%;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  border-color: #19b39e;
  box-shadow: 0 0 5px rgba(26, 193, 170, 0.4);
  background-color: #0b153c;
}

.findItem input:focus {
  outline: none;
  border-color: #00bfa5;
  box-shadow: 0 0 5px rgba(0, 191, 165, 0.4);
  background-color: #000a30;
}

.findItem input::placeholder {
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
}

.circle {
  position: fixed;
  top: 2%;
  left: 1%;
  width: 40px;
  height: 40px;
  background-color: #383838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #eee;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #1f1f1f;
  }
}
